Repository flashnetxyz/dogdata-rs: changes, and which Codecov flags are due for each by the changed paths.
All: DogData, Reqwest Datadog Tracing, SQLx Datadog Tracing

chore: update tower and tokio dependencies
  Cargo.lock
  Cargo.toml
  crates/dogdata/src/axum/shutdown.rs
  examples/Cargo.toml
Due: DogData

chore: refactors dependencies versions
  Cargo.toml
  crates/dogdata/Cargo.toml
Due: DogData

chore: update dependencies versions
  Cargo.toml
  crates/dogdata/Cargo.toml
  examples/Cargo.toml
Due: DogData

fix: Removes trailing whitespace
  crates/dogdata/src/axum/http_server.rs
  crates/dogdata/src/axum/middleware.rs
  crates/dogdata/src/axum/mod.rs
  crates/dogdata/src/axum/shutdown.rs
  examples/examples/axum.rs
Due: DogData

feat: add axum feature flag and optional dependencies
  Cargo.lock
  crates/dogdata/Cargo.toml
  crates/dogdata/src/axum/http_server.rs
  crates/dogdata/src/axum/middleware.rs
  crates/dogdata/src/axum/mod.rs
  crates/dogdata/src/axum/shutdown.rs
Due: DogData

fix(axum): improve cross-platform compatibility and code organization
  crates/dogdata/Cargo.toml
  crates/dogdata/src/axum/http_server.rs
  crates/dogdata/src/axum/middleware.rs
  crates/dogdata/src/axum/shutdown.rs
Due: DogData

style(examples): organize and sort dependencies in Cargo.toml
  Cargo.lock
  examples/Cargo.toml
  examples/examples/axum.rs
Due: none

refactor(dogdata): simplifies middleware filter condition
  crates/dogdata/src/axum/middleware.rs
  crates/dogdata/src/tracer.rs
Due: DogData

refactor(dogdata)!: downgrade opentelemetry to 28
  Cargo.lock
  Cargo.toml
  crates/dogdata/Cargo.toml
  crates/dogdata/src/init.rs
  crates/dogdata/src/tracer.rs
Due: DogData

chore: update mise tool list
  .mise.lock
  .mise.toml
Due: none

chore: switch out dd deps
  Cargo.lock
  Cargo.toml
  crates/dogdata/Cargo.toml
Due: DogData

fix: downgrade tracing-opentelemetry
  Cargo.lock
  Cargo.toml
  crates/dogdata/Cargo.toml
Due: DogData

refactor(dogdata): remove mapping mechanism
  crates/dogdata/src/init.rs
  crates/dogdata/src/lib.rs
  crates/dogdata/src/model/mod.rs
  crates/dogdata/src/tracer.rs
Due: DogData

feat(dogdata): transition to dd-trace & datadog-opentelemetry
  Cargo.lock
  Cargo.toml
  crates/dogdata/src/init.rs
  crates/dogdata/src/tracer.rs
Due: DogData

refactor(dogdata): adjust examples & shutdown
  Cargo.lock
  Cargo.toml
  crates/dogdata/src/init.rs
  crates/dogdata/src/shutdown.rs
  examples/examples/console.rs
  examples/examples/reqwest-tracing.rs
Due: DogData

chore: fmt
  crates/dogdata/src/init.rs
  crates/dogdata/src/tracer.rs
  examples/examples/console.rs
  examples/examples/reqwest-tracing.rs
Due: DogData

chore(dogdata): cleanup deps
  crates/dogdata/src/init.rs
Due: DogData

feat(dogdata-reqwest-middleware): enable otel propagation by default
  Cargo.lock
  crates/dogdata-reqwest-middleware/Cargo.toml
  crates/dogdata-reqwest-middleware/src/lib.rs
  crates/dogdata-reqwest-middleware/src/middleware.rs
  crates/dogdata-reqwest-middleware/src/otel.rs
Due: DogData, Reqwest Datadog Tracing

chore(dogdata): add tests for lookup_trace_info
  crates/dogdata/src/formatter.rs
Due: DogData

chore(dogdata): bump version
  crates/dogdata/src/lib.rs
  crates/dogdata/src/tracer.rs
Due: DogData

chore: lock
  Cargo.lock
Due: none

chore: update dependencies
  Cargo.lock
  crates/dogdata/Cargo.toml
Due: DogData

fix(examples): axum remove ? from tracer
  examples/examples/axum.rs
Due: none

chore(dogdata): organise
  Cargo.lock
  crates/dogdata/src/shutdown.rs
  crates/dogdata/src/tracer.rs
Due: DogData

feat(dogdata): integrates otel stdout exporter
  Cargo.lock
  README.md
  crates/dogdata/Cargo.toml
  crates/dogdata/src/formatter.rs
  crates/dogdata/src/init.rs
  crates/dogdata/src/lib.rs
  crates/dogdata/src/logs.rs
  crates/dogdata/src/shutdown.rs
  crates/dogdata/src/tracer.rs
  examples/examples/axum.rs
  examples/examples/console.rs
  examples/examples/reqwest-tracing.rs
Due: DogData

Path conditions:
  DogData: any of: crates/dogdata
  Reqwest Datadog Tracing: any of: crates/dogdata-reqwest-middleware
  SQLx Datadog Tracing: any of: crates/dogdata-sqlx
