Repository flashnetxyz/dogdata-rs: changes, and which Codecov flags are due for each by the changed paths.
All: DogData, Reqwest Datadog Tracing

.codecov.yml:

codecov:
  branch: main

comment:
  layout: "condensed_header, diff, flags, components"

component_management:
  individual_components:
    - component_id: dogdata-rs
      name: DogData
      paths:
        - crates/dogdata
    - component_id: reqwest-datadog-tracing
      name: Reqwest Datadog Tracing
      paths:
        - crates/reqwest-datadog-tracing

Update dependencies to latest OTel
  .mise.toml
  Cargo.lock
  crates/dogdata/Cargo.toml
  crates/dogdata/README.md
  crates/dogdata/src/init.rs
  crates/dogdata/src/lib.rs
  crates/dogdata/src/shutdown.rs
  crates/dogdata/src/tracer.rs
  crates/reqwest-datadog-tracing/Cargo.toml
  crates/reqwest-datadog-tracing/README.md
  crates/reqwest-datadog-tracing/src/lib.rs
  crates/reqwest-datadog-tracing/src/middleware.rs
  crates/reqwest-datadog-tracing/src/otel.rs
  crates/reqwest-datadog-tracing/src/reqwest_otel_span_builder.rs
  crates/reqwest-datadog-tracing/src/reqwest_otel_span_macro.rs
  testing/tests/snapshots/axum.json
  testing/tests/snapshots/req.json
  testing/tests/snapshots/ss.json
  testing/tests/snapshots/sss.json
  testing/tests/snapshots/ssss.json
Due: DogData, Reqwest Datadog Tracing

Removes unnecessary license file
  crates/dogdata/LICENSE
Due: DogData

Adds symlink to root LICENSE
  crates/dogdata/LICENSE
Due: DogData

clippy
  Cargo.lock
  crates/dogdata/Cargo.toml
  crates/dogdata/src/formatter.rs
  crates/reqwest-datadog-tracing/Cargo.toml
Due: DogData, Reqwest Datadog Tracing

Adds description to crate
  crates/reqwest-datadog-tracing/Cargo.toml
Due: Reqwest Datadog Tracing

Updates dogdata crate and fixes agent endpoint
  .mise.toml
  Cargo.lock
  crates/dogdata/Cargo.toml
  crates/dogdata/src/tracer.rs
  testing/tests/snapshots/dd.json
Due: DogData

Renames reqwest-datadog-tracing crate to dogdata-reqwest-middleware
  .codecov.yml
  Cargo.lock
  Cargo.toml
  crates/dogdata-reqwest-middleware/Cargo.toml
  crates/dogdata-reqwest-middleware/LICENSE
  crates/dogdata-reqwest-middleware/README.md
  crates/dogdata-reqwest-middleware/src/lib.rs
  crates/dogdata-reqwest-middleware/src/middleware.rs
  crates/dogdata-reqwest-middleware/src/otel.rs
  crates/dogdata-reqwest-middleware/src/reqwest_otel_span_builder.rs
  crates/dogdata-reqwest-middleware/src/reqwest_otel_span_macro.rs
  crates/reqwest-datadog-tracing/README.md
Due: DogData, Reqwest Datadog Tracing

Nuke snapshots
  .gitignore
  testing/tests/snapshots/axum.json
  testing/tests/snapshots/dd.json
  testing/tests/snapshots/req.json
  testing/tests/snapshots/ss.json
  testing/tests/snapshots/sss.json
  testing/tests/snapshots/ssss.json
Due: none

Adds Datadog magic tag mappings
  .mise.toml
  Cargo.lock
  Cargo.toml
  README.md
  crates/dogdata-reqwest-middleware/Cargo.toml
  crates/dogdata-reqwest-middleware/LICENSE
  crates/dogdata/Cargo.toml
  crates/dogdata/README.md
  crates/dogdata/src/init.rs
  crates/dogdata/src/lib.rs
  crates/dogdata/src/model/mod.rs
  crates/dogdata/src/tracer.rs
Due: DogData

Adds LICENSE file
  crates/dogdata-reqwest-middleware/LICENSE
Due: DogData

Adds release-plz workflow and config
  .github/workflows/release-plz.yml
  .release-plz.toml
  Cargo.toml
Due: none

Recreates `Cargo.toml` workspace file
  Cargo.toml
Due: none

Updates dogdata crate to v0.1.2
  .github/workflows/release-plz.yml
  Cargo.lock
  README.md
  crates/dogdata/Cargo.toml
Due: DogData

chore: remove path from release-plz
  .release-plz.toml
Due: none

chore: switch to github app
  .github/workflows/release-plz.yml
Due: none

patch: add missing markdown files
  crates/dogdata-reqwest-middleware/CHANGELOG.md
  crates/dogdata-reqwest-middleware/src/lib.rs
  crates/dogdata/CHANGELOG.md
  crates/dogdata/src/init.rs
Due: DogData

chore: tweak release-plz changelog settings
  .release-plz.toml
  crates/dogdata-reqwest-middleware/Cargo.toml
Due: DogData

chore: add semver to gha
  .github/workflows/release-plz.yml
Due: none

chore: pre-commit tooling
  .mise.lock
  .mise.toml
  .pre-commit-config.yaml
  .release-plz.toml
  committed.toml
  crates/dogdata-reqwest-middleware/CHANGELOG.md
  crates/dogdata/CHANGELOG.md
Due: DogData

chore: move dependencies to workspace
  .github/workflows/release-plz.yml
  Cargo.lock
  Cargo.toml
  crates/dogdata-reqwest-middleware/Cargo.toml
  crates/dogdata/Cargo.toml
Due: DogData

feat: bring dogdata-reqwest-middleware span closer to ddtrace fetch spans
  crates/dogdata-reqwest-middleware/Cargo.toml
  crates/dogdata-reqwest-middleware/src/lib.rs
  crates/dogdata-reqwest-middleware/src/reqwest_otel_span_builder.rs
  crates/dogdata-reqwest-middleware/src/reqwest_otel_span_macro.rs
Due: DogData

feat: clippy
  crates/dogdata-reqwest-middleware/src/reqwest_otel_span_builder.rs
  crates/dogdata/src/formatter.rs
Due: DogData

chore: remove semver action
  .github/workflows/release-plz.yml
Due: none

chore: correct changelog path
  .release-plz.toml
  crates/dogdata-reqwest-middleware/CHANGELOG.md
  crates/dogdata/CHANGELOG.md
Due: DogData

chore: add basic examples
  .release-plz.toml
  Cargo.lock
  Cargo.toml
  examples/Cargo.toml
  examples/README.md
  examples/examples/console.rs
  examples/examples/reqwest-tracing.rs
Due: none

chore: fmt
  crates/dogdata/src/formatter.rs
Due: DogData

feat: crate for instrumenting sqlx
  .release-plz.toml
  Cargo.lock
  Cargo.toml
  crates/dogdata-sqlx/CHANGELOG.md
  crates/dogdata-sqlx/Cargo.toml
  crates/dogdata-sqlx/LICENSE
  crates/dogdata-sqlx/src/lib.rs
Due: DogData

feat(dogdata-sqlx): compile-time support
  .codecov.yml
  Cargo.lock
  Cargo.toml
  crates/dogdata-sqlx/Cargo.toml
  crates/dogdata-sqlx/README.md
  crates/dogdata-sqlx/src/execute.rs
  crates/dogdata-sqlx/src/lib.rs
  crates/dogdata-sqlx/src/query_builder.rs
  crates/dogdata-sqlx/src/sqlx_otel_span_macro.rs
Due: DogData

refactor(dogdata-sqlx): remove unused dependencies
  Cargo.lock
  crates/dogdata-sqlx/Cargo.toml
Due: DogData

feat(dogdata-sqlx): add basic test to confirm functionality
  .env.example
  .github/workflows/tests.yaml
  .gitignore
  Cargo.lock
  crates/dogdata-sqlx/Cargo.toml
  crates/dogdata-sqlx/migrations/1_user.sql
  crates/dogdata-sqlx/src/lib.rs
  crates/dogdata-sqlx/tests/basic.rs
  crates/dogdata-sqlx/tests/fixtures/users.sql
  testing/docker-compose.yaml
Due: DogData

fix(dogdata-sqlx): disable postgres by default
  Cargo.lock
  crates/dogdata-sqlx/Cargo.toml
Due: DogData

chore(dogdata-sqlx): generate .sqlx for tests
  .sqlx/query-8469792bd25d902d0508337a071a9c6a7baa3897e2f8fba279233cefdb2514e3.json
Due: none

feat(dogdata-sqlx): bring return types closer to raw sqlx
  .sqlx/query-8469792bd25d902d0508337a071a9c6a7baa3897e2f8fba279233cefdb2514e3.json
  .sqlx/query-dcc22a6378497d30a55961b8089891923b137c962fbbc8c8d334c4d64c5e6fe3.json
  crates/dogdata-sqlx/src/execute.rs
  crates/dogdata-sqlx/src/query_builder.rs
  crates/dogdata-sqlx/tests/basic.rs
Due: DogData

fix(tests): add postgres for automigrate
  crates/dogdata-sqlx/Cargo.toml
Due: DogData

chore(tests): add postgres for automigrate
  .github/workflows/tests.yaml
Due: none

fix(tests): add postgres for automigrate
  .github/workflows/tests.yaml
  Makefile
  crates/dogdata-sqlx/Cargo.toml
Due: DogData

chore: add rust-cache
  .github/workflows/release-plz.yml
Due: none

feat: add axum feature flag and optional dependencies
  Cargo.lock
  crates/dogdata/Cargo.toml
  crates/dogdata/src/axum/http_server.rs
  crates/dogdata/src/axum/middleware.rs
  crates/dogdata/src/axum/mod.rs
  crates/dogdata/src/axum/shutdown.rs
Due: DogData

fix(axum): improve cross-platform compatibility and code organization
  crates/dogdata/Cargo.toml
  crates/dogdata/src/axum/http_server.rs
  crates/dogdata/src/axum/middleware.rs
  crates/dogdata/src/axum/shutdown.rs
Due: DogData

style(examples): organize and sort dependencies in Cargo.toml
  Cargo.lock
  examples/Cargo.toml
  examples/examples/axum.rs
Due: none
